.form {
    margin: 200 200 200 200;
    width: 240px;
    margin-left: auto;
    margin-right: auto;

    

}

.label {
    display: block;
    margin-top: 15px;
    text-align: center;
}

/* .input {
    
    width: 100%;
} */

.btn {
    margin: 10px 0 10px 0;
    width: 100%;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* Налаштуйте висоту контейнера відповідно до ваших потреб */
}
